<%= render partial: "shared/section_colour" %>
<% set_title("About Me") %>
<h2>about me & this site</h2>
<p>
    <b class="text">Who are you?</b><br/>
    <small>Hello, my name is Dylan! I'm currently studying Computer Science at the University of Edinburgh, welcome to my website. I'm very passionate about technology's capacity to connect and to inform people, and have some fairly strong opinions on its use right now. It's no surprise then that I do a good deal of front-end, though I'm not at all averse to stricter back-end work.</small>
</p>

<p>
    <b class="text">About the Site</b><br/>
    <small>I wanted to make a site that maximizes and prioritizes having a very small footprint, that could still look nice and behave like a single page but gracefully drop back in case of JS being disabled. I think I succeeded in that respect. See development over at <a href="https://github.com/dylan-thinnes/me-two">Github</a></small>
</p>
