<h2>contact & cv</h2>
<%= link_to "dylan.thinnes@protonmail.com", "mailto://dylan.thinnes@protonmail.com" %>
<p>This email is for general inquiries and items not directly related to programming.</p>
<p>Reply time will be anywhere from 0.5-7 days depending on urgency, time of year, and timezones.</p>
<%= link_to "github/dylan-thinnes", "https://github.com/dylan-thinnes" %>
<p>For inquiry/discussion related to programming, especially one of my existing projects, I recommend contacting me on GitHub.</p>
<%= link_to "My CV", "/assets/images/cv.pdf" %>

